//fastqueue = 'common,dedicated'
//fastqos= '--qos=fast'
//longqueue = 'bioevo'
//longqos= '--qos=bioevo'
longqueue = 'cnrvir'
longqos= '-A cnrvir'

// Perform work directory cleanup after a successful run
//cleanup = true

executor {
    name = 'slurm'
    queueSize = 2000
}

report {
       enabled = true
       file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

singularity {
        enabled = true
        autoMounts = true
        //runOptions = '--home $HOME:/home/$USER --bind /pasteur'
        cacheDir = 'singularity'
}

process {
    executor='slurm'
    //executor='local'
    //queue = "$fastqueue"
    //clusterOptions = "$fastqos"
    queue = "$longqueue"
    clusterOptions = "$longqos"
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withLabel: phyml {
        container='evolbioinfo/phyml:v3.3.20200621'
        cpus=1
        memory='8G'
    }

    withLabel: mrbayes {
        queue = "$longqueue"
        clusterOptions = "$longqos"
        module=['mrbayes:3.2.7']
        cpus=5
        memory='50G'
    }

    withLabel: raxml {
        container='evolbioinfo/raxml-ng:v1.0.3'
        cpus=1
        memory='8G'
    }

    withLabel: gotree {
        container='evolbioinfo/gotree:devb324e73'
        cpus=1
        memory='15G'
    }

    withLabel: goalign {
        container='evolbioinfo/goalign:devb034b00'
	cpus=1
	memory='15G'
    }

    withLabel: snag {
        container='evolbioinfo/snag:835c479'
	cpus=1
	memory='15G'
    }
}
