//fastqueue = 'common,dedicated'
//fastqos= '--qos=fast'
longqueue = 'cnrvir'
longqos= '-A cnrvir'

// Preform work directory cleanup after a successful run
//cleanup = true

executor {
    name = 'slurm'
    queueSize = 2000
}

report {
       enabled = true
       file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

singularity {
        enabled = true
        autoMounts = true
        runOptions = '--no-home --bind /pasteur'
        cacheDir = 'singularity'
}

process {
    executor='slurm'
    //executor='local'
    //queue = "$fastqueue"
    //clusterOptions = "$fastqos"
    queue = "$longqueue"
    clusterOptions = "$longqos"
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withLabel: phyml {
        container='evolbioinfo/phyml:v3.3.20200621'
        cpus=1
        memory='15G'
    }
    
    withLabel: mafft {
        container='evolbioinfo/mafft:v7.520'
        cpus=10
        memory='40G'
    }
    
    withLabel: mrbayes {
        queue = "$longqueue"
        clusterOptions = "$longqos"
        module=['mrbayes:3.2.7']
        cpus=5
        memory='50G'
    }

    withLabel: raxml {
        container='evolbioinfo/raxml-ng:v1.0.3'
        cpus=1
        memory='15G'
    }

    withLabel: gotree {
        container='evolbioinfo/gotree:devb324e73'
        cpus=1
        memory='15G'
    }

    withLabel: goalign {
        container='evolbioinfo/goalign:dev0537492'
        cpus=1
        memory='15G'
    }
    
    withLabel: 'phylo' {
        container='evolbioinfo/iqtree:v2.2.3'
        memory='10G'
        cpus=10
    }
    withLabel: 'perl'{
        container='perl:5.39.2'
        cpus=1
        memory='1G'
    }
}
