fastqueue = 'common,dedicated'
fastqos= '--qos=fast'

longqueue = 'cnrvir'
longqos= '-A cnrvir'

normalqueue= ''
normalqos=''

// Preform work directory cleanup after a successful run
//cleanup = true

executor {
    name = 'slurm'
    queueSize = 2000
}

report {
       enabled = true
       file = 'reports/report.html'
       overwrite=true
}

trace {
    enabled = true
    file = 'reports/trace.txt'
       overwrite=true
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
       overwrite=true
}

dag {
    enabled = true
    file = 'reports/dag.dot'
       overwrite=true
}

singularity {
        enabled = true
        autoMounts = true
        //runOptions = '--home $HOME:/home/$USER --bind /pasteur'
        cacheDir = 'singularity'
}

process {
    executor='slurm'
    //executor='local'
    queue = "$longqueue"
    clusterOptions = "$longqos"
    //queue = "$fastqueue"
    //clusterOptions = "$fastqos"
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withLabel: phyml {
        container='evolbioinfo/phyml:v3.3.20200621'
        cpus=1
        memory='10G'
    }

    withLabel: raxml {
        container='evolbioinfo/raxml-ng:v1.1.0'
        cpus=15
        memory='10G'
    }

    withLabel: raxmlshort {
        container='evolbioinfo/raxml-ng:v1.1.0'
        cpus=1
        memory='10G'
    }

    withLabel: iqtree {
        container='evolbioinfo/iqtree:v2.2.2.5'
        cpus=15
        memory='10G'
    }

    withLabel: gotree {
        container='evolbioinfo/gotree:devb324e73'
        cpus=1
        memory='1G'
    }

    withLabel: goalign {
        container='evolbioinfo/goalign:dev0537492'
        cpus=1
        memory='1G'
    }
}
