fastqueue = 'common,dedicated'
fastqos= '--qos=fast'

// Preform work directory cleanup after a successful run
//cleanup = true

executor {
    name = 'slurm'
    queueSize = 2000
}

report {
       enabled = true
       file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

singularity {
        enabled = true
        autoMounts = true
        //runOptions = '--home $HOME:/home/$USER --bind /pasteur'
        cacheDir = 'singularity'
}

process {
    executor='slurm'
    //executor='local'
    queue = "$fastqueue"
    clusterOptions = "$fastqos"
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withName: selectByEPIISL {
        container='evolbioinfo/python-evol:v3.8.2b'
        cpus=10
        memory='50G'
    }
    withName: refdata {
    	executor='local'
        container='nextstrain/nextclade:2.7.0'
        cpus=1
        memory='1G'
    }
    withName: align {
        container='nextstrain/nextclade:2.7.0'
        cpus=10
        memory='50G'
    }
}
